body {
  background-color: #f9f9f9;
}

.card img {
  height: 200px;
  object-fit: cover;
}

.card-title {
  font-size: 1.2rem;
}

#categories-container .card img {
  height: 180px;
  object-fit: cover;
  border-bottom: 2px solid #eee;
}

.header{
  background-color: darkorange;
}
.top{
  color: white;
   background-image: url('./assets/resto.png');
   height:400px;
  align-content: center;
}